<%# stats = Statistics::Page.new(resource) %>
<%#= resource.id %>

<%= line_chart stats %>
<!--<br>-->
<!--<hr>-->
<!--<h1>Subscribers</h1>-->
<%#= line_chart Page.group_by_day(:created_at).count %>
<!--<br>-->
<%#= line_chart Page.group_by_day(:created_at).count %>