.font-nunito {
  font-family: Nunito;
}
.font-jura {
  font-family: Jura;
}
.font-jost {
  font-family: Jost;
}
.font-comfortaa {
  font-family: Comfortaa;
}
.font-lora {
  font-family: Lora;
}
.font-roboto {
  font-family: Roboto;
}

.timer {
  .progress-bar {
    position: absolute;
    transition: all 1s cubic-bezier(.08,.82,.17,1) 0s;
  }
  .progress-bar.progress-layout {

    position: relative;
    background: #F5F5F5 !important;

  }
}

@media only screen and (min-width: 1024px) {
  .timer {
    font-family: Roboto;
    margin-top: 40px;

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 4px;
    }

    .bar-container {
      display: flex;
      font-size: 8px;
      line-height: 14px;

      .progress-bar {
        border-radius: 100px;
        height: 10px;
        width: 100%;

      }

      .progress-layout {
        margin-top: 7px;
        border-radius: 100px;
        height: 10px;
      }

      .time {
        margin-left: 9px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .created-by {
    font-style: normal;
    font-weight: normal;
    margin-top: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    a {
      text-decoration: none;
    }
  }
  .privacy-policy-container {
    line-height: 20px;
    margin-top: 4px;

    .privacy-policy {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.85);
      text-decoration: none;

    }
  }
}

@media only screen and (max-width: 1023px) and (min-width: 670px) {
  .timer {
    font-family: Roboto;
    margin-top: 40px;
    max-width: 400px;

    h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 4px;
    }

    .bar-container {
      display: flex;
      font-size: 8px;
      line-height: 14px;

      .progress-bar {
        border-radius: 100px;
        height: 10px;
        width: 100%;
      }

      .progress-layout {
        border-radius: 100px;
        height: 10px;
        width: 100%;
        margin-top: 7px;
      }

      .time {
        margin-left: 9px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .created-by {
    font-style: normal;
    font-weight: normal;
    margin-top: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    a {
      text-decoration: none;
    }
  }
  .privacy-policy-container {
    line-height: 20px;

    .privacy-policy {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.85);
      text-decoration: none;

    }
  }
}

@media only screen and (max-width: 669px) {
  .privacy-policy-container {
    display: none;
  }
  .timer {
    font-family: Roboto;
    margin-top: 40px;
    max-width: 100%;

    h4 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 4px;
    }

    .bar-container {
      display: flex;
      font-size: 8px;
      line-height: 14px;

      .progress-bar {
        border-radius: 100px;
        height: 8px;
        width: 100%;
      }

      .progress-layout {
        border-radius: 100px;
        height: 8px;
        width: 100%;
        margin-top: 7px;
      }

      .time {
        margin-left: 9px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}


button.btn-primary {
  &-default {
    background: #2F54EB;
    border: 1px solid #2F54EB;
    &:hover:not(.disabled) {
      background: #597EF7;
      border: 1px solid #597EF7;
    }
  }
  &-blue {
    background: #08979C;
    border: 1px solid #08979C;
    &:hover:not(.disabled) {
      background: #13C2C2;
      border: 1px solid #13C2C2;;
    }
  }
  &-pink {
    background: #EB2F96;
    border: 1px solid #EB2F96;
    &:hover:not(.disabled) {
      background: #F759AB;
      border: 1px solid #F759AB;
    }
  }
  &-mustard {
    background: #434343;
    border: 1px solid #434343;
    &:hover:not(.disabled) {
      background: #595959;
      border: 1px solid #595959;
    }
  }
  &-dark {
    background: #722ED1;
    border: 1px solid #722ED1;
    &:hover:not(.disabled) {
      background: #9254DE;
      border: 1px solid #9254DE;
    }
  }
  &-red {
    background: #F21414;
    border: 1px solid #F21414;
    &:hover:not(.disabled) {
      background: #FF4F4F;
      border: 1px solid #FF4F4F;
    }
  }
  &-green {
    background: #008F5C;
    border: 1px solid #008F5C;
    &:hover:not(.disabled) {
      background: #17A874;
      border: 1px solid #17A874;
    }
  }
}

