.template-4 {


  .timer {
    margin-top: 50px;

    .bar-container {
      display: flex;
      font-size: 8px;
      line-height: 14px;

      .progress-bar {
        border-radius: 125px;
        height: 10px;
        width: 100%;
        margin-top: 7px;
      }

      .time {
        margin-left: 9px;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  &.template-container {
    min-height: 100vh;
    display: flex;
    align-items: center;

    .row {
      min-height: 100vh;
      .col {
        align-items: center;
        display: flex;

      }
    }
    //.background-container {
    //  min-height: 100vh;
    //  position: absolute;
    //  left: 0;
    //
    //
    //  &.mobile {
    //    display: none;
    //  }
    //
    //}
    //.background {
    //  position: absolute;
    //  width: 495px;
    //  height: 330px;
    //  background-position-y: center !important;
    //  background-repeat: no-repeat !important;
    //  background-size: cover !important;
    //}

    .color-background-container {
      width: 50%;
      position: fixed;
      height: 100%;

      .color-background {
        position: absolute;
        width: 50%;
        height: 100%;
      }
    }

    .background-container {
      width: 50%;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .background {
        z-index: 1;
        position: absolute;
        height: 330px;
        background: #eee;
        width: 500px;
      }
    }

    .welcome-content {
      min-height: 100vh;
    }

    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 38px;
      line-height: 46px;
      color: rgba(0, 0, 0, 0.85);
    }

    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      white-space: pre-wrap;
      color: rgba(0, 0, 0, 0.85);

    }

    h4 {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 7px;
      margin-top: 0;
    }

    .content-container {
      display: flex;
      flex-direction: column;
      padding-left: 127px;
      padding-right: 127px;
      width: 100%;

    }

    .button {
      background: #2F54EB;
      border: 1.25px solid #2F54EB;
      box-sizing: border-box;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
      border-radius: 2.5px;
      flex-grow: 0;
      //margin: 40px 10px;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      text-shadow: none;
      text-align: center;
      color: #FFFFFF;
      width: fit-content;
      margin-top: 50px;

      &:hover {
        background: #2F54EB;
        cursor: pointer;
      }
    }
    .created-by {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      margin-top: 50px;

      a {
        text-decoration: none;
      }
    }
    .privacy-policy-container {
      line-height: 20px;

      .privacy-policy {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.85);
        text-decoration: none;

      }
    }
  }
}


@media only screen and (max-width: 1023px) {
  .template-4 {
    &.template-container {

      .content-container {
        padding-top: 56px;
        padding-left: 86px;
        padding-right: 86px;
        width: 100%;

        .button {
          width: 100%;
        }
      }
      .row {
        display: flex;
        flex-direction: column;
        //min-height: 100vh;
        .col {
          width: 100%;
          align-items: center;
          display: flex;

        }

        .color-background-container {
          width: 100%;
          position: absolute;
          height: 512px;

          .color-background {
            position: absolute;
            width: 50%;
            height: 100%;
          }
        }

        .background-container {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 512px;

          .background {
            z-index: 1;
            position: absolute;
            height: 400px;
            background: #eee;
            width: 600px;
          }
        }
      }
    }
  }
  .col {
    &[class*="col-"] {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 669px) {
  .template-4 {
    &.template-container {

      .content-container {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;

        .button {
          width: 100%;
        }
      }
      .row {
        display: flex;
        flex-direction: column;
        //min-height: 100vh;
        .col {
          width: 100%;
          align-items: center;
          display: flex;

        }

        .color-background-container {
          width: 100%;
          position: absolute;
          height: 284px;

          .color-background {
            position: absolute;
            width: 50%;
            height: 100%;
          }
        }

        .background-container {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 284px;

          .background {
            z-index: 1;
            position: absolute;
            height: 181px;
            background: #eee;
            width: 272px;
          }
        }

      }
    }
  }
  .col {
    &[class*="col-"] {
      width: 100%;
    }
  }
}