.template-3 {
  color: rgba(0, 0, 0, 0.85);

  .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .picture-container {
    position: relative;
  }

  .tracery {
    border-top-left-radius: 12px;
    height: 100%;
    width: 100%;
    background-position-x: left;
    background-position-y: top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.template {
    &-default {
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #2F54EB 55.12%, #ADC6FF 100%);
        }
      }
      .submaster-link {
        color: #2F54EB;
      }
      h1 {
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &-blue {
      .content-container, .picture-container {
        background-color: #f0f5ff;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #13C2C2 55.12%, #87E8DE 100%);
        }
      }
      .submaster-link {
        color: #08979C;
      }
      h1 {
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &-green {
      .content-container, .picture-container {
        background-color: #EEF2E9;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #008F5C 55.12%, #93D0B2 100%);
        }
      }
      .submaster-link {
        color: #008F5C;
      }
      h1 {
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &-red {
      .content-container, .picture-container {
        background-color: #FFF2E8;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #CF1322 55.12%, #F9C6C3 100%);
        }
      }
      .submaster-link {
        color: #1F1F1F;
      }
      h1 {
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    &-pink {
      .content-container, .picture-container {
        background-color: #fff0f6;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #EB2F96 55.12%, #FFADD2 100%);
        }
      }

      .submaster-link {
        color: #EB2F96;
      }
      h1 {
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    &-mustard {
      .content-container, .picture-container {
        background-color: #ffd254;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #262626 55.12%, #8C8C8C 100%);
        }
      }

      .submaster-link {
        color: #262626;
      }
      h1 {
        color: rgba(0, 0, 0, 0.85);
      }
      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    &-dark {
      .content-container, .picture-container {
        background-color: #262626;
      }
      .timer {
        h4, .time {
          color: white;
        }
        .progress-bar {
          background: linear-gradient(90deg, #722ED1 55.12%, #D3ADF7 100%);
        }
      }
      .policy {
        color: white;
        .privacy-policy-container a {
          color: white;
        }
      }
      .submaster-link {
        color: #722ED1;
      }
      h1 {
        color: white;
      }
      p {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .template-3 {
    .column {
      display: inline-block;
      width: 50%;
      height: 100vh;
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    .content-container {
      background-position: bottom;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position-x: right;
      height: 100vh;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      justify-content: start;
    }
    .content {

      button {
        margin-top: 42px;
      }

      position: relative;
      display: flex;
      width: 490px;
      align-items: center;
      height: fit-content;
      min-height: 100vh;
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 30px 30px 30px 0;
        width: 100%;
      }

      h1 {
        font-size: 38px;
        line-height: 46px;
        margin: 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
      }
    }

    .picture-container {
      .image-container {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        height: 100%;

        width: 100%;
        position: absolute;
        right: 74px;
      }

      .image {
        height: 570px;
        width: 380px;
      }
    }


  }
}

@media only screen and (max-width: 1023px) {
  .template-3 {
    .row {
      flex-direction: column;
    }
    .content-container {
      background-position: top;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      //height: 100vh;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: calc(100vh - 512px);
    }
    .content {

      button {
        margin-top: 42px;
      }

      position: relative;
      display: flex;
      width: 100%;
      //max-width: 664px;
      align-items: center;
      height: fit-content;
      min-height: calc(100vh - 512px);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 62px;
        width: 100%;
      }

      h1 {
        font-size: 52px;
        line-height: 82px;
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        font-size: 20px;
        line-height: 28px;
        white-space: pre-line;
      }
    }
    .picture-container {
      width: 100%;
      height: 512px;
      position: relative;

      .image-container {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .image {
        height: 450px;
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 669px) {
  .template-3 {
    .row {
      flex-direction: column;
    }
    .content-container {
      background-position: bottom;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position-x: right;
      //height: 100vh;
      overflow-y: scroll;
      display: flex;
      //align-items: center;
      justify-content: center;
      width: 100%;
      min-height: calc(100vh - 320px);
    }
    .content {

      button {
        margin-top: 42px;
        width: 100%;
      }

      position: relative;
      display: flex;
      width: 100%;
      max-width: 664px;
      justify-content: center;
      align-items: start;
      height: fit-content;
      min-height: calc(100vh - 320px);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 24px;
        width: 100%;
      }

      h1 {
        font-size: 30px;
        line-height: 47px;
        margin-top: 0;
      }

      p {
        font-size: 16px;
        line-height: 28px;
        white-space: pre-line;
      }
    }
    .picture-container {
      width: 100%;
      height: 320px;
      position: relative;

      .image-container {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .image {
        height: 300px;
        width: 200px;
      }
    }

  }
}