.template-1 {
  color: rgba(0, 0, 0, 0.85);
  .font-nunito {
    font-family: Nunito;
  }
}

@media only screen and (min-width: 1024px) {
  .template-1 {
    .column {
      display: inline-block;
      width: 50%;
      height: 100vh;
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    .content-container {
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: left;
      height: 100vh;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content {

      button {
        margin-top: 42px;
      }

      position: relative;
      display: flex;
      width: 490px;
      align-items: center;
      height: fit-content;
      min-height: 100vh;
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 30px;
        width: 100%;
      }

      h1 {
        font-size: 38px;
        line-height: 46px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
      }
    }

    .picture-container {
      .bg-loyaut {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
      }
      .image {
        height: 490px;
        width: 490px;
      }
    }


  }
}

@media only screen and (max-width: 1023px) {
  .template-1 {
    .row {
      flex-direction: column-reverse;
    }
    .content-container {
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: left;
      //height: 100vh;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: calc(100vh - 512px);
    }
    .content {

      button {
        margin-top: 42px;
      }

      position: relative;
      display: flex;
      width: 100%;
      max-width: 664px;
      align-items: center;
      height: fit-content;
      min-height: calc(100vh - 512px);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 62px;
        width: 100%;
      }

      h1 {
        font-size: 52px;
        line-height: 82px;
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        font-size: 20px;
        line-height: 28px;
        white-space: pre-line;
      }
    }
    .picture-container {
      width: 100%;
      .bg-loyaut {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        background-position: center;
        background-size: cover;
        height: 512px;
        width: 100%;
        background-repeat: no-repeat;
      }
      .image {
        height: 388px;
        width: 388px;
      }
    }


  }
}

@media only screen and (max-width: 669px) {
  .template-1 {
    .row {
      flex-direction: column-reverse;
    }
    .content-container {
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: left;
      //height: 100vh;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: calc(100vh - 320px);
    }
    .content {

      button {
        margin-top: 42px;
        width: 100%;
      }

      position: relative;
      display: flex;
      width: 100%;
      max-width: 664px;
      align-items: center;
      height: fit-content;
      min-height: calc(100vh - 320px);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 24px;
        width: 100%;
      }

      h1 {
        font-size: 30px;
        line-height: 47px;
        margin-top: 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
      }
    }
    .picture-container {
      width: 100%;
      .bg-loyaut {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        background-position: center;
        background-size: cover;
        height: 320px;
        width: 100%;
        background-repeat: no-repeat;
      }
      .image {
        height: 272px;
        width: 272px;
      }
    }

  }
}