.template-6 {
  color: rgba(0, 0, 0, 0.85);

  .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .picture-container {
    position: relative;
    display: flex;
  }
  .dark-layout {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
  }

  .dark-layout-hidden {
    display: none;
  }

  .title {
    overflow: hidden;
    h1 {
      color: white;
      transform: rotate(-90deg);
    }
  }

  &.template {
    &-default {
      .title {
        background: #597EF7;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #13C2C2 55.12%, #87E8DE 100%);
        }
      }
      .submaster-link {
        color: #2F54EB;
      }

      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &-blue {
      .title {
        background: #08979C;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #1890FF 55.12%, #91D5FF 100%)
        }
      }
      .submaster-link {
        color: #08979C;
      }

      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &-green {
      .title {
        background: #008F5C;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #008F5C 55.12%, #93D0B2 100%);
        }
      }
      .submaster-link {
        color: #008F5C;
      }

      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    &-red {
      .title {
        background: #F21414;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #CF1322 55.12%, #F9C6C3 100%);
        }
      }
      .submaster-link {
        color: #F21414;
      }

      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    &-pink {
      .title {
        background: #EB2F96;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #EB2F96 55.12%, #FFADD2 100%);
        }
      }

      .submaster-link {
        color: #EB2F96;
      }

      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    &-mustard {
      .title {
        background: #262626;
      }
      .timer {
        h4 {
          color: rgba(0, 0, 0, 0.85);
        }
        .progress-bar {
          background: linear-gradient(90deg, #262626 55.12%, #8C8C8C 100%);
        }
      }

      .submaster-link {
        color: #262626;
      }

      p {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    &-dark {
      .title {
        background: #722ED1;
      }
      .timer {
        h4, .time {
          color: white;
        }
        .progress-bar {
          background: linear-gradient(90deg, #722ED1 55.12%, #D3ADF7 100%);
        }
      }
      .policy {
        color: white;
        .privacy-policy-container a {
          color: white;
        }
      }
      .submaster-link {
        color: #722ED1;
      }
      h1 {
        color: white;
      }
      p {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .template-6 {
    .row {
      position: relative;
      height: 100vh;
      width: 100%;
    }
    .column {
      //display: inline-block;
      width: 50%;
      height: 100vh;
      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    .content-container {
      display: block;
      background-position: bottom;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position-x: right;
      height: 100vh;
      overflow-y: scroll;
      position: absolute;
      z-index: 21;
      //display: flex;
      //align-items: center;
      //justify-content: start;
    }
    .content {

      button {
        margin-top: 42px;
      }

      position: relative;
      display: flex;
      width: 490px;
      align-items: center;
      height: fit-content;
      min-height: 100vh;
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 30px 30px 30px 74px;
        width: 100%;
      }

      h1 {
        font-size: 38px;
        line-height: 46px;
        margin: 0;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
      }
    }

    .picture-container {
      position: absolute;
      height: 100%;

      width: 100%;
      .image-container {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        height: 100%;

        width: 100%;

      }

      .image {
        background-color: #eee;
        height: 100%;
        width: 100%;
      }
    }


  }
}

@media only screen and (max-width: 1023px) {
  .template-6 {
    .row {
      flex-direction: column-reverse;
    }
    .content-container {
      display: block;
      background-position: top;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      //height: 100vh;
      overflow-y: scroll;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      height: calc(100vh - 512px);
    }
    .content {

      button {
        margin-top: 42px;
      }

      position: relative;
      display: block;
      width: 100%;
      //max-width: 664px;
      align-items: center;
      height: fit-content;
      min-height: calc(100vh - 512px);


      > div {
        padding: 38px 62px;
        //width: 100%;
      }

      h1 {
        font-size: 52px;
        line-height: 82px;
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        font-size: 20px;
        line-height: 28px;
        white-space: pre-line;
      }
    }
    .picture-container {
      width: 100%;
      height: 100vh;
      position: relative;

      .image-container {
        height: 100%;
        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
      .image {
        background-color: #eee;
        height: 100%;
        width: 100%;
        background-position: right;
      }
    }
  }
}

@media only screen and (max-width: 669px) {
  .template-6 {
    .row {
      flex-direction: column-reverse;
    }
    .content-container {
      background-position: bottom;
      background-size: 50%;
      background-repeat: no-repeat;
      background-position-x: right;
      //height: 100vh;
      overflow-y: scroll;
      display: flex;
      //align-items: center;
      justify-content: center;
      width: 100%;
      height: calc(100vh - 320px);
      position: absolute;
      z-index: 99;
    }
    .content {

      button {
        margin-top: 42px;
        width: 100%;
      }

      position: relative;
      display: flex;
      width: 100%;
      max-width: 664px;
      justify-content: center;
      align-items: start;
      height: fit-content;
      min-height: calc(100vh - 320px);
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: -45px;

      > div {
        padding: 24px;
        width: 100%;
      }

      h1 {
        font-size: 30px;
        line-height: 47px;
        margin-top: 0;
      }

      p {
        font-size: 16px;
        line-height: 28px;
        white-space: pre-line;
      }
    }
    .picture-container {
      width: 100%;
      height: 100vh;
      position: relative;

      .image-container {
        height: 100%;
        width: 100%;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
      .image {
        background-color: #eee;
        height: 100%;
        width: 100%;
        background-position: right;
      }
    }

  }
}