<div class="out_of_stack-container">
  <div class="content">
    <h1><%= @page.out_of_stock_title %></h1>
    <p><%= @page.out_of_stock_description %></p>
    <div class="policy">
      <div class="created-by">Created by <a class="submaster-link" href="https://submaster.pro">Submaster</a></div>
      <div class="privacy-policy-container"><a href="<%= @page.privacy_policy %>" class="privacy-policy">Privacy policy</a></div>
    </div>
  </div>
</div>