@font-face {
  font-family: Nunito;
  src: local("Nunito"), url("Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Jura;
  src: local("Jura"), url("Jura/Jura-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Jost;
  src: local("Jost"), url("Jost/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Comfortaa;
  src: local("Comfortaa"), url("Comfortaa/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Lora;
  src: local("Lora"), url("Lora/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
