.page-container {
  display: flex;

  .background {
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .content {
    width: 50%;
    min-height: 100vh;
    .inner {
      //flex-basis: 55.5%;
      padding-left: 11.8%;
      padding-top: 7.5rem;
      padding-bottom: 7.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      z-index: 1;

      p {
        margin-bottom: 20px;
      }
    }

    button {
      padding: 15px;
      font-weight: 500;
      font-size: 15px;
      background: #4c67fb;

      border-radius: .58333em;
      border: none;
      color: #fff;
      text-transform: uppercase;
      //padding: 1.2em 2.5em;
      display: flex;
      align-items: center;
      outline: 0;
      cursor: pointer;
      //border: .3rem solid transparent;
      text-decoration: none;
      width: 300px;
      //transition: border-color .5s,background .5s,color .5s;
    }
  }

  .background {
    background: #eee;
    width: 50%;
    position: fixed;
    height: 100vh;
    right: 0;
  };


}