<div class="template-4 template-container" >
  <div class="row welcome-content">
    <div class="col col-6">
    </div>
    <div class="color-background-container">
      <div class="color-background" style="background: {{primary_color}}"></div>
    </div>
    <div class="background-container ">
      <div class="background youtube-container" {{back}}>
        {{youtube}}
      </div>
    </div>
    <div class="col col-6">
      <div class="content-container">
        <h1>{{welcome_title}}</h1>
        <p>{{welcome_description}}</p>
        <div class="timer">
          <h4>{{timer_text}}</h4>
          <div class="bar-container">
            <div
              class="progress-bar"
              style="background: {{gradient}}"
            ></div>
            <span class="time">1:00</span>
          </div>
        </div>
        <form action="/pages/{{url}}/enter_login">
          <button
            type="submit"
            class="button"
            style="
              background: {{primary_color}};
              border-color: {{primary_color}}"
              onMouseOver="this.style.background='{{primary_color}}'"
              onMouseOut="this.style.background='{{primary_color}}'"
          >
            {{welcome_button_text}}
          </button>
        </form>

        <div class="policy">
          <div class="created-by">Created by <a href="">Submaster</a></div>
          <div class="privacy-policy-container"><a href="" class="privacy-policy">Privacy policy</a></div>
        </div>
      </div>
    </div>
  </div>
</div>